body{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.imgFundo{
    background-image: url(../img/41394_pokemon.jpg);
    height: 1080px;
    width: 1100px;
    resize: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid black;
}

.bulba{
    position: absolute;
    z-index: 2;
    bottom: 35%;
    left: 51%;

}

.char{
    position: absolute;
    z-index: 2;
     left: 38%;
    bottom: 70%;

}

.char{
    position: absolute;
    z-index: 2;
}
.sprite{
    width: 160px;
    height: 233px;
    bottom: 0px;
    left: 50%;
    position: absolute;
    animation: sprite2 40s infinite, sprite 1s steps(3) infinite;
    transform: scale(0.3);
}

@keyframes sprite {
    from {background-position: 0px;}
    to {background-position: 486px;}
}

@keyframes sprite2 {
    0%{
        background: url("../img/top-down-game-3-animations-example\ \(1_0\).png") 0px 0px;
        z-index: 1;
    }

    09%{
        background: url("../img/top-down-game-3-animations-example\ \(1_0\).png") 0px 0px;
        bottom: 35%;
        left: 50%;
        z-index: 1;
    }
    
    18%{
        background: url("../img/top-down-game-3-animations-example\ \(2_0\).png") 0px 0px;
        bottom: 35%;
        left: 35%;
        z-index: 1;
    }

    27%{
        background: url("../img/top-down-game-3-animations-example\ \(1_0\).png") 0px 0px;
        left: 35%;
        bottom: 70%;
        z-index: 1;
    }
    
    36%{
        background: url("../img/top-down-game-3-animations-example\ \(2_0\).png") 0px 0px;
        left: 28%;
        bottom: 70%;
        z-index: 1;
    }

    45%{
        background: url("../img/top-down-game-3-animations-example\ \(1_0\).png") 0px 0px;
        left: 28%;
        bottom: 73%;
        z-index: -1; 
    }
    
    54%{
        background: url("../img/top-down-game-3-animations-example\ \(1_0\).png") 0px 0px;
        left: 28%;
        bottom: 73%;
        z-index: -1; 
    }

    63%{
        background: url("../img/top-down-game-3-animations-example\ \(0_0\).png") 0px 0px;
        left: 28%;
        bottom: 70%;
        z-index: 1;
    }

    72%{
        background: url("../img/top-down-game-3-animations-example\ \(3_0\).png") 0px 0px;
        left: 35%;
        bottom: 70%;
        z-index: 1;
    }
    
    81%{
        background: url("../img/top-down-game-3-animations-example\ \(0_0\).png") 0px 0px;
        left: 35%;
        bottom: 35%;
        z-index: 1;
    }

    90%{
        background: url("../img/top-down-game-3-animations-example\ \(3_0\).png") 0px 0px;
        left: 50%;
        bottom: 35%;
        z-index: 1;
    }
    100%{
        background: url("../img/top-down-game-3-animations-example\ \(0_0\).png") 0px 0px;
        bottom: 0px;
        left: 50%;
        z-index: 1; 
    }
}